.income-card,
.expense-card {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
}

.income-card:hover,
.expense-card:hover {
    -fx-background-color: #00000016;
    -fx-effect: none;
}

.income-card.selected,
.expense-card.selected {
    -fx-background-color: #0000000f;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0, 0, 0, 0.186);
    -fx-effect: none;
}

.amt-column {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.amt-column .table-cell {
    -fx-text-fill: blue;
}

.floating-btn {
    -fx-background-color: #FF8225;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
}

.floating-btn:hover {
    -fx-background-color: #c86011;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, white, 2, 0.5, 0, 1);
}

.floating-btn-secondary {
    -fx-background-color: #b9b3ae;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
}

.floating-btn-danger {
    -fx-background-color: #b9b3ae;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
}

.floating-btn-secondary:hover {
    -fx-background-color: #173B45;
    -fx-background-radius: 10px;
}

.floating-btn-danger:hover {
    -fx-background-color: #B43F3F;
    -fx-background-radius: 10px;
}


.card-edit-btn {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #173b4565;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
}

.card-edit-btn:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
    -fx-background-color: linear-gradient(#1D4752, #173B45);
    -fx-cursor: hand;
}

.card-edit-btn:pressed {
    -fx-background-color: linear-gradient(#0D2328, #173B45);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0.0, 0, 1);
}

.card-del-btn {
    -fx-background-color: #b43f3f64;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 1);
}

.card-del-btn:hover {
    -fx-background-color: linear-gradient(#C84545, #B43F3F);
    -fx-cursor: hand;
}

.card-del-btn:pressed {
    -fx-background-color: linear-gradient(#8B2F2F, #B43F3F);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0.0, 0, 1);
}

.color-selection {
    -fx-background-color: white;
    -fx-border-color: #d0d0d0a5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
}

.dashboard-card {
    -fx-background-color: white; /* Card background */
    -fx-background-radius: 10px; /* Rounded corners */
    /* -fx-padding: 15px; Internal padding */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 3); /* Subtle shadow effect */
    -fx-border-radius: 10px; /* Rounded border */
    -fx-border-color: transparent; /* No border by default */
}















/* Mocha Gradient */
.mocha-gradient {
    -fx-background-color: linear-gradient(to bottom right, #2E2A24, derive(#2E2A24, -20%));
}

/* Almond Gradient */
.almond-gradient {
    -fx-background-color: linear-gradient(to bottom right, #b3ae9e, derive(#b3ae9e, -15%));
}

/* Amethyst Gradient */
.amethyst-gradient {
    -fx-background-color: linear-gradient(to bottom right, #9b27b0, derive(#9b27b0, -20%));
}

/* SlateBlue Gradient */
.slateblue-gradient {
    -fx-background-color: linear-gradient(to bottom right, #6d7aa9, derive(#6d7aa9, -20%));
}

/* MintGreen Gradient */
.mintgreen-gradient {
    -fx-background-color: linear-gradient(to bottom right, #3fcda2, derive(#3fcda2, -20%));
}

/* AshGray Gradient */
.ashgray-gradient {
    -fx-background-color: linear-gradient(to bottom right, #868686, derive(#868686, -20%));
}

/* RubyRed Gradient */
.rubyred-gradient {
    -fx-background-color: linear-gradient(to bottom right, #cd3f6a, derive(#cd3f6a, -20%));
}

/* CoralPink Gradient */
.coralpink-gradient {
    -fx-background-color: linear-gradient(to bottom right, #d76b66, derive(#d76b66, -20%));
}

/* DeepSea Gradient */
.deepsea-gradient {
    -fx-background-color: linear-gradient(to bottom right, #104a7a, derive(#104a7a, -20%));
}

/* Hover effects */
.mocha-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#2E2A24, 20%), #2E2A24); }
.almond-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#b3ae9e, 20%), #b3ae9e); }
.amethyst-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#9b27b0, 20%), #9b27b0); }
.slateblue-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#6d7aa9, 20%), #6d7aa9); }
.mintgreen-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#3fcda2, 20%), #3fcda2); }
.ashgray-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#868686, 20%), #868686); }
.rubyred-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#cd3f6a, 20%), #cd3f6a); }
.coralpink-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#d76b66, 20%), #d76b66); }
.deepsea-gradient:hover { -fx-background-color: linear-gradient(to bottom right, derive(#104a7a, 20%), #104a7a); }







/* Mocha Text Gradient */
.mocha-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #2E2A24, derive(#2E2A24, -20%));
    -fx-fill: linear-gradient(to bottom right, #2E2A24, derive(#2E2A24, -20%));
}

/* Almond Text Gradient */
.almond-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #b3ae9e, derive(#b3ae9e, -15%));
    -fx-fill: linear-gradient(to bottom right, #b3ae9e, derive(#b3ae9e, -15%));
}

/* Amethyst Text Gradient */
.amethyst-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #9b27b0, derive(#9b27b0, -20%));
    -fx-fill: linear-gradient(to bottom right, #9b27b0, derive(#9b27b0, -20%));
}

/* SlateBlue Text Gradient */
.slateblue-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #6d7aa9, derive(#6d7aa9, -20%));
    -fx-fill: linear-gradient(to bottom right, #6d7aa9, derive(#6d7aa9, -20%));
}

/* MintGreen Text Gradient */
.mintgreen-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #3fcda2, derive(#3fcda2, -20%));
    -fx-fill: linear-gradient(to bottom right, #3fcda2, derive(#3fcda2, -20%));
}

/* AshGray Text Gradient */
.ashgray-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #868686, derive(#868686, -20%));
    -fx-fill: linear-gradient(to bottom right, #868686, derive(#868686, -20%));
}

/* RubyRed Text Gradient */
.rubyred-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #cd3f6a, derive(#cd3f6a, -20%));
    -fx-fill: linear-gradient(to bottom right, #cd3f6a, derive(#cd3f6a, -20%));
}

/* CoralPink Text Gradient */
.coralpink-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #d76b66, derive(#d76b66, -20%));
    -fx-fill: linear-gradient(to bottom right, #d76b66, derive(#d76b66, -20%));
}

/* DeepSea Text Gradient */
.deepsea-text-gradient {
    -fx-text-fill: linear-gradient(to bottom right, #104a7a, derive(#104a7a, -20%));
    -fx-fill: linear-gradient(to bottom right, #104a7a, derive(#104a7a, -20%));
}

/* Hover effects */
.mocha-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#2E2A24, 20%), #2E2A24); -fx-fill: linear-gradient(to bottom right, derive(#2E2A24, 20%), #2E2A24); }
.almond-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#b3ae9e, 20%), #b3ae9e); -fx-fill: linear-gradient(to bottom right, derive(#b3ae9e, 20%), #b3ae9e); }
.amethyst-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#9b27b0, 20%), #9b27b0); -fx-fill: linear-gradient(to bottom right, derive(#9b27b0, 20%), #9b27b0); }
.slateblue-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#6d7aa9, 20%), #6d7aa9); -fx-fill: linear-gradient(to bottom right, derive(#6d7aa9, 20%), #6d7aa9); }
.mintgreen-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#3fcda2, 20%), #3fcda2); -fx-fill: linear-gradient(to bottom right, derive(#3fcda2, 20%), #3fcda2); }
.ashgray-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#868686, 20%), #868686); -fx-fill: linear-gradient(to bottom right, derive(#868686, 20%), #868686); }
.rubyred-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#cd3f6a, 20%), #cd3f6a); -fx-fill: linear-gradient(to bottom right, derive(#cd3f6a, 20%), #cd3f6a); }
.coralpink-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#d76b66, 20%), #d76b66); -fx-fill: linear-gradient(to bottom right, derive(#d76b66, 20%), #d76b66); }
.deepsea-text-gradient:hover { -fx-text-fill: linear-gradient(to bottom right, derive(#104a7a, 20%), #104a7a); -fx-fill: linear-gradient(to bottom right, derive(#104a7a, 20%), #104a7a); }





/* Custom colors for line chart series starting with DeepSea */
.default-color0.chart-series-line { -fx-stroke: #104a7a; } /* DeepSea */
.default-color1.chart-series-line { -fx-stroke: #b3ae9e; } /* Almond */
.default-color2.chart-series-line { -fx-stroke: #9b27b0; } /* Amethyst */
.default-color3.chart-series-line { -fx-stroke: #6d7aa9; } /* SlateBlue */
.default-color4.chart-series-line { -fx-stroke: #3fcda2; } /* MintGreen */
.default-color5.chart-series-line { -fx-stroke: #868686; } /* AshGray */
.default-color6.chart-series-line { -fx-stroke: #cd3f6a; } /* RubyRed */
.default-color7.chart-series-line { -fx-stroke: #d76b66; } /* CoralPink */

/* Symbol colors for data points */
.default-color0.chart-line-symbol { -fx-background-color: #104a7a; }
.default-color1.chart-line-symbol { -fx-background-color: #b3ae9e; }
.default-color2.chart-line-symbol { -fx-background-color: #9b27b0; }
.default-color3.chart-line-symbol { -fx-background-color: #6d7aa9; }
.default-color4.chart-line-symbol { -fx-background-color: #3fcda2; }
.default-color5.chart-line-symbol { -fx-background-color: #868686; }
.default-color6.chart-line-symbol { -fx-background-color: #cd3f6a; }
.default-color7.chart-line-symbol { -fx-background-color: #d76b66; }



/* Custom colors for pie chart pieces starting with DeepSea */
.default-color0.chart-pie { -fx-background-color: #104a7a; } /* DeepSea */
.default-color1.chart-pie { -fx-background-color: #b3ae9e; } /* Almond */
.default-color2.chart-pie { -fx-background-color: #9b27b0; } /* Amethyst */
.default-color3.chart-pie { -fx-background-color: #6d7aa9; } /* SlateBlue */
.default-color4.chart-pie { -fx-background-color: #3fcda2; } /* MintGreen */
.default-color5.chart-pie { -fx-background-color: #868686; } /* AshGray */
.default-color6.chart-pie { -fx-background-color: #cd3f6a; } /* RubyRed */
.default-color7.chart-pie { -fx-background-color: #d76b66; } /* CoralPink */


/* Custom colors for stacked bar chart series starting with DeepSea */
.default-color0.chart-bar { -fx-bar-fill: #104a7a; } /* DeepSea */
.default-color1.chart-bar { -fx-bar-fill: #b3ae9e; } /* Almond */
.default-color2.chart-bar { -fx-bar-fill: #9b27b0; } /* Amethyst */
.default-color3.chart-bar { -fx-bar-fill: #6d7aa9; } /* SlateBlue */
.default-color4.chart-bar { -fx-bar-fill: #3fcda2; } /* MintGreen */
.default-color5.chart-bar { -fx-bar-fill: #868686; } /* AshGray */
.default-color6.chart-bar { -fx-bar-fill: #cd3f6a; } /* RubyRed */
.default-color7.chart-bar { -fx-bar-fill: #d76b66; } /* CoralPink */

/* Legend colors */
.default-color0.chart-legend-item-symbol { -fx-background-color: #104a7a; }
.default-color1.chart-legend-item-symbol { -fx-background-color: #b3ae9e; }
.default-color2.chart-legend-item-symbol { -fx-background-color: #9b27b0; }
.default-color3.chart-legend-item-symbol { -fx-background-color: #6d7aa9; }
.default-color4.chart-legend-item-symbol { -fx-background-color: #3fcda2; }
.default-color5.chart-legend-item-symbol { -fx-background-color: #868686; }
.default-color6.chart-legend-item-symbol { -fx-background-color: #cd3f6a; }
.default-color7.chart-legend-item-symbol { -fx-background-color: #d76b66; }