
.sidebar {
    -fx-background-color: #173B45;
}

.sidebar .button {
    -fx-background-color: #173B45;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: pointer;
}

.sidebar .button:hover {
    -fx-background-color: #40626b;
}

.sidebar .button.selected {
    -fx-background-color: #FF8225;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.216), 2, 0.5, 0, 1);
}

